* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
    background-color: #413E66;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
}

.productItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 2px;
    border: solid #FF910F 1px;
}
